# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# OS-specific (Mac)
.DS_Store
.AppleDouble
.LSOverride
._*

# Virtual environments
venv/
.venv/
env/
.env/

# Game saves
savegame.json
save_slot_*.json

# VS Code / IDE settings
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Build / Distribution (PyInstaller)
build/
dist/
.build/
.dist/
"Power City Builder v1.0.1.spec"
"Power City Builder.spec"

# Sphinx Documentation Builds
docs/build/
docs/docs/build/

# Logs and local project files
.ruff_cache/
merge_log_graph.txt
citybuilder.log
FolderStructure.txt

# autotyping
monkeytype.sqlite3
monkeytype.sqlite3*