# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# OS-specific
.DS_Store

# Virtual environments
venv/
.venv/
env/
.env/

# Game saves
savegame.json
save_slot_*.json

# VS Code / IDE settings
.vscode/
.build/
.dist/
.idea/
"Power City Builder v1.0.1.spec"
"Power City Builder.spec"
.ruff_cache/
merge_log_graph.txt